<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
    </Console>
  </Appenders>

  <Loggers>

    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>
    <Logger name="org.springframework.amqp" level="warn"/>
    <Logger name="com.rabbitmq" level="debug" />
    <Logger name="log4j.logger.org.apache.activemq.spring" level="WARN" />
    <Logger name="log4j.logger.org.apache.activemq.transport.failover.FailoverTransport" level="DEBUG" />
    <Logger name="log4j.logger.org.apache.activemq.transport.TransportLogger=DEBUG" level="DEBUG" />

  </Loggers>

</Configuration>